.growth {
  animation: growth 0.5s ease-in forwards;
}

@keyframes growth {
  from {
    /* resize: none; */
    height: 7vh;
    border-color: grey;
  }
  to {
    height: 30vh;
    border-color: #772014;
    resize: none;
  }
}
.round {
  border-radius: 15px;
}
.contact-title {
  font-size: 2.2rem;
  font-weight: bolder;
  text-align: center;
}

.growing-yellow {
  animation: growing-yellow 1s infinite;
}
@keyframes growing-yellow {
  from {
    background-color: white;
    color: white;
    cursor: none;
  }
  50% {
    border-color: #772014;
    cursor: none;
    /* border-width: 12px; */
  }
  to {
    border-color: rgba(221, 224, 15, 0.945);
    background-color: rgba(221, 224, 15, 0.945);
    color: rgba(221, 224, 15, 0.945);
    cursor: none;
  }
}
