.social {
  font-weight: bolder;
  text-align: left;
}
.footer {
  background-color: black;
  color: white;
}
.fab {
  text-align: center;
}
.fab:hover {
  color: green;
  text-decoration: underline;
}
.width-100{
  width: 100%;
}
.height-40{
  height: 40vh
}