.body-box {
  margin-top: -55px;
  background-color: rgba(0, 0, 0, 0.7);
  /* background-color: black; */
  border-radius: 25px;
}
.title {
  text-align: center;
  font-size: 1.4rem;
}

.body {
  margin-left: 5px;
}
.homepage-hero {
  background-image: url("../Images/light-mount.jpg");
  height: 80vh;
  /* background-position: center; Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.homepage-title {
  /* text-align: center; */
  color: white;
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
}
.img-list{
  height: 60vh;
}
