.body-box {
  margin-top: -55px;
  background-color: rgba(0, 0, 0, 0.7);
  /* background-color: black; */
  border-radius: 25px;
}
.title {
  text-align: center;
  font-size: 1.4rem;
}

.body {
  margin-left: 5px;
}
.open-title {
  font-family: "Oswald", sans-serif;
  font-size: 10rem;
}
.homepage-hero {
  margin: 0;
  padding: 0;
  background-image: url("../Images/light-mount.jpg");
  height: 80vh;
  /* background-position: center; Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.homepage-title {
  /* text-align: center; */
  color: white;
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
}

.ice-mt {
  background-image: url("../Images/snow-mt.jpg");
  grid-row: 1/-1;
  grid-column: 1/4;
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.rockwater {
  grid-row: 1/2;
  grid-column: 4/6;
  background-image: url("../Images/rocky-water.jpg");
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.waterfall {
  grid-row: 1/-1;
  grid-column: 6/11;
  background-image: url("../Images/waterfall.jpg");
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.snow-rock {
  background-image: url("../Images/snow-cock.jpg");
  grid-row: 2/3;
}
.green {
  background-image: url("../Images/water-mt.jpg");
  grid-row: 1/-1;
  grid-column: 11/13;
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
