.post-bio {
  padding: 10px;
  text-align: center;
}
.hover-change {
  cursor: pointer;
}

h2:hover {
  font-weight: bolder;
  text-decoration: underline;
  color: black;
}
/* ARticle */
.article-img {
  width: 100vw;
  height: 35vh;
  background-color: black;
}
.loading {
  position: absolute;
  margin: auto;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  height: 100vh;
  width: 100vw;
}
p {
  line-height: 2rem;
  font-size: 1.3rem;
}
.loading-article {
  position: absolute;
  top: 25vh;
  left: 45vw;
  height: 30vh;
  width: 3vw;
  /* border-style: solid; */
  border-radius: 50px;
  background-color: teal;
}
/* .ball {
  height: 20px;
  width: 3vw;
  border-style: solid;
  border-radius: 50px;
} */
.article-body {
  line-height: 2rem;
}
