.App {
  text-align: center;
}
body {
  /* font-family: "Josefin Sans", sans-serif; */
  overflow-x: hidden;
  font-family: "Roboto Condensed", sans-serif;
  /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
  /* background-image: linear-gradient(to right, #868f96 0%, #596164 100%); */
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text-small {
  font-size: 0.8rem;
}
.white {
  color: white;
}
.spacer {
  width: 100%;
  height: 20px;
}
.height-60 {
  height: 60vh;
}
.light {
  color: rgba(122, 120, 120, 0.794);
}
.mt-neg-5 {
  margin-top: -9px;
}
a {
  color: black;
  text-decoration: none;
}
.green {
  color: geen;
  border-color: green;
}
.select:hover {
  background-color: lightgray;
}
.red {
  color: red;
  border-color: red;
}
.small {
  font-size: 0.5rem;
}
.border-leftless {
  border-left-color: black;
  border-radius: 0;
}
.border-rightless {
  border-right-style: none;
  border-radius: 0;
}
a:hover {
  text-decoration: none;
}
.hover-grey:hover {
  -webkit-box-shadow: 33px 20px 71px -8px rgba(166, 159, 166, 1);
  -moz-box-shadow: 33px 20px 71px -8px rgba(166, 159, 166, 1);
  box-shadow: 33px 20px 71px -8px rgba(166, 159, 166, 1);
}
.height-25 {
  height: 45vh;
}
